In [1]:
import numpy as np
import pandas as pd

In [3]:
s1 = pd.Series(['antonio','joana','carlos','barbara'])
s1

0    antonio
1      joana
2     carlos
3    barbara
dtype: object

In [4]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [15]:
s2 = pd.Series(np.random.randn(4),index=["a","b","c","d"])
s2

a   -0.077045
b    0.167650
c   -0.040648
d    1.348417
dtype: float64

In [16]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [17]:
s3 = pd.Series({'b':20,'a':30,'c':15})
s3

b    20
a    30
c    15
dtype: int64

In [20]:
d={'a':10,'b':20,'c':30}
s4 = pd.Series(d,index =["b","c","d","a"])
s4

b    20.0
c    30.0
d     NaN
a    10.0
dtype: float64

In [23]:
s5 = pd.Series(5,index = ['a','b','c'])
s5

a    5
b    5
c    5
dtype: int64

In [24]:
s2[0]

-0.07704499096050967

In [26]:
s2[:1]

a   -0.077045
dtype: float64

In [29]:
s2[s2 > s2.mean()]

d    1.348417
dtype: float64

In [30]:
s2.mean()

0.34959362159687873

In [32]:
s2 >s2.mean()

a    False
b    False
c    False
d     True
dtype: bool

In [33]:
s2[[3,0,1]]

d    1.348417
a   -0.077045
b    0.167650
dtype: float64

In [38]:
np.exp(s2)

a    0.925848
b    1.182522
c    0.960167
d    3.851326
dtype: float64

In [40]:
s2.dtype

dtype('float64')

In [42]:
s2.array

<PandasArray>
[ -0.07704499096050967,   0.16764973779962764, -0.040647656925057674,
    1.3484173964734547]
Length: 4, dtype: float64

In [44]:
s2.to_numpy()

array([-0.07704499,  0.16764974, -0.04064766,  1.3484174 ])

In [45]:
s2["a"]

-0.07704499096050967

In [46]:
s2[0]

-0.07704499096050967

In [47]:
s2["b"] = 20

In [48]:
s2

a    -0.077045
b    20.000000
c    -0.040648
d     1.348417
dtype: float64

In [49]:
"c" in s2

True

In [50]:
s2[1:] + s2[:-1]

a          NaN
b    40.000000
c    -0.081295
d          NaN
dtype: float64

In [52]:
s6 = pd.Series(np.random.randn(4),name = "something")
s6

0    1.779155
1    0.106913
2    1.213940
3   -0.416567
Name: something, dtype: float64

In [53]:
s6.name

'something'

In [54]:
s6.rename("different",inplace=True)

0    1.779155
1    0.106913
2    1.213940
3   -0.416567
Name: different, dtype: float64

In [55]:
s6.name

'different'