In [83]:
import pandas as pd
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [11]:
#Print the values from columns 'price', 'city' and 'house_size from rows 2 to 5.
def solve():
    df2 = df.loc[2:5]
    print(df[['price','city','house_size']].loc[2:5])

solve()

    price           city  house_size
2   67000     Juana Diaz       748.0
3  145000          Ponce      1800.0
4   65000       Mayaguez         NaN
5  179000  San Sebastian      2520.0

In [25]:
#Delete the columns 'bed' to 'acre_lot'.
def solve():
    df.drop(columns=['bed','bath','acre_lot'],inplace =True)
    print(df.loc[0:2])

solve()

     status   price        city        state  zip_code  house_size sold_date
0  for_sale  105000    Adjuntas  Puerto Rico     601.0       920.0       NaT
1  for_sale   80000    Adjuntas  Puerto Rico     601.0      1527.0       NaT
2  for_sale   67000  Juana Diaz  Puerto Rico     795.0       748.0       NaT

In [27]:
#Change in row 2 the 'status' to 'sold' and the 'price' to 60000.
def solve():
    df.loc[2,'status']='sold'
    df.loc[2,'price']='60000'
    

solve()

In [97]:
#What is the percentage of houses with a 'house_size' greater than 2000. (rounded to one decimal place)
def solve():
    #print(df['house_size'].value_counts().astype(float).div(len(df))*100)
    print(round(df[df['house_size']>2000].index.values.size/len(df)*100,1))
    

solve()

28.9

In [31]:
#Calculate the summary statistics for the column 'house_size'.
def solve():
    print(df['house_size'].describe())
    

solve()

count    7.487000e+03
mean     2.432521e+03
std      1.689467e+04
min      1.000000e+02
25%      1.204500e+03
50%      1.720000e+03
75%      2.600000e+03
max      1.450112e+06
Name: house_size, dtype: float64

In [35]:
#Delete the rows where the 'price' is greater than 800000.
def solve():
    df.drop(df[df['price'] > 800000].index, inplace=True)
    
    

solve()

In [38]:
#Print the columns 'city' to 'house_size' of the rows where the 'house_size' is greater than 40000.
def solve():
    print(df.loc[df['house_size']>40000,['city','state','zip_code','house_size']])
    
    

solve()

              city           state  zip_code  house_size
42            Moca     Puerto Rico     676.0     43082.0
2241       Culebra     Puerto Rico     775.0   1450112.0
2898  Frederiksted  Virgin Islands     840.0     49658.0
9045    Middletown     Connecticut    6457.0     99999.0

In [59]:
#What is the 'city' with the house with the highest 'price' (first occurrence).
def solve():
    print(df.loc[df['price'] == df['price'].max(),'city'].values[0])
    

solve()

IndexingError: Too many indexers

In [68]:
#Print the rows where the 'price' is greater than 2000000 and the 'house_size' is less or equal than 1000.
def solve():
    print(df.loc[(df['price'] > 2000000) & (df['house_size'] <=  1000)])
    #print(df.shape)
    

solve()

        status    price  bed  bath  acre_lot         city          state  \
8176  for_sale  2500000  NaN   NaN      1.34  Stockbridge  Massachusetts

      zip_code  house_size sold_date
8176    1262.0       500.0       NaT
(10315, 10)

In [78]:
#Find the average 'price' by 'state' and 'status' (rounded to one decimal place).
def solve():
    print(df.pivot_table(index='state',values='price',aggfunc='mean').round(1))

    

solve()

                             price
state          status
Connecticut    for_sale   427973.5
               sold       409905.1
Massachusetts  for_sale   345654.1
               sold       450403.9
New Hampshire  for_sale   318908.7
               sold       154112.9
New Jersey     for_sale   333490.0
New York       for_sale   556409.1
               sold       817443.7
Puerto Rico    for_sale   678351.3
               sold       428471.4
South Carolina for_sale    18950.0
Vermont        for_sale   321860.0
               sold       303546.2
Virgin Islands for_sale   828440.9
               sold      1646800.0
All                       520209.4

In [86]:
#Calculate the number of houses in each of the following 'house_size' classes:

def solve():
    df1 = df['house_size']
    df2 = pd.cut(df1, bins=[0, 999, 1999, 2999, 4999, 9999], labels=['very_small', 'small', 'medium', 'large', 'very_large'])
    df3 = df2.value_counts()
    print(df3)
    
solve()

small         3507
medium        1620
large         1031
very_small     947
very_large     316
Name: house_size, dtype: int64

In [98]:
#Insert a column named 'price_euros' before column 'bed' converting the value in dollars from column 'price' to euros (1 Dollar = 0.95 Euro) (rounded to one decimal place)
def solve():
    df.insert(2,"price_euros",df['price']*0.95)
    
solve()
print(df.head(3))

In [102]:
#Print the top 3 houses in 'price'.
def solve():
    print(df.sort_values('price',ascending=False).head(3))
solve()

        status     price  price_euros  bed  bath  acre_lot           city  \
6953      sold  60000000   57000000.0  9.0  10.0    400.00      Woodstock
854   for_sale  25000000   23750000.0  NaN   NaN    100.00        Isabela
2714  for_sale  24500000   23275000.0  NaN   NaN    618.36  Christiansted

               state  zip_code  house_size  sold_date
6953     Connecticut    6281.0     18777.0 2003-08-28
854      Puerto Rico     662.0         NaN        NaT
2714  Virgin Islands     820.0         NaN        NaT