In [55]:
import pandas as pd
df = pd.read_csv('supermarket1.csv', sep=';')

In [6]:
#Change the 'Customer type' in the third row from 'Normal' to 'Member'.
def solve():
    df.loc[2,'Customer type']='Member'
solve()
print(df.loc[:,'Invoice ID':'Gender'].head(3))

    Invoice ID       City Customer type  Gender
0  750-67-8428     Yangon        Member  Female
1  226-31-3081  Naypyitaw        Normal  Female
2  631-41-3108     Yangon        Member    Male

In [7]:
#Delete the column 'Customer type'.
def solve2():
    df.drop(columns='Customer type',inplace=True)

solve2()
print(df.loc[:,'Invoice ID':'City'].head(3))

    Invoice ID       City
0  750-67-8428     Yangon
1  226-31-3081  Naypyitaw
2  631-41-3108     Yangon

In [25]:
#Print the columns 'customer type' to 'Unit price' of the rows where the 'Customer type' is 'Member' and the 'Gender' is 'Male' or the 'Customer type' is 'Normal' and the 'Gender' is 'Female' and the 'Unit price' is greater than 99
def solve3():
    df2 = df[(((df['Customer type'] == 'Member') & (df['Gender']=='Male')) | ((df['Customer type'] == 'Normal') & (df['Gender']=='Female'))) & (df['Unit price'] > 99)]
    print(df2.iloc[:, 2:6])
solve3()

    Customer type  Gender            Product line  Unit price
80         Normal  Female       Health and beauty       99.19
120        Normal  Female  Electronic accessories       99.56
122        Member    Male       Sports and travel       99.96
209        Normal  Female  Electronic accessories       99.73
274        Normal  Female       Health and beauty       99.71
283        Member    Male       Health and beauty       99.83
315        Member    Male      Food and beverages       99.37
326        Member    Male      Food and beverages       99.78
382        Normal  Female      Food and beverages       99.69
656        Normal  Female  Electronic accessories       99.69
849        Normal  Female     Fashion accessories       99.10
941        Member    Male     Fashion accessories       99.82

In [16]:
#Calculate the number of lines by 'Product line'.
def solve4():
    df1 = df['Product line'].value_counts()
    print(df1)
    
solve4()

Fashion accessories       178
Food and beverages        174
Electronic accessories    170
Sports and travel         166
Home and lifestyle        160
Health and beauty         152
Name: Product line, dtype: int64

In [17]:
#Calculate the number of Invoices in each of the following 'Total' classes:
def solve5():
    df1 = df['Total']
    df2 = pd.cut(df1, bins=[0, 220, 440, 660, 880, 1100], labels=['low', 'fair', 'good', 'very_good', 'excellent'])
    df3 = df2.value_counts()
    print(df3)
    
solve5()

low          454
fair         264
good         156
very_good     96
excellent     30
Name: Total, dtype: int64

In [18]:
#Print the rows between labels 0 and 2 and between columns 'Total' and 'Payment'.
def solve6():
    print(df.loc[0:2,'Total':'Payment'])
    
solve6()

Payment        Cash  Credit card   Ewallet
City
Mandalay   35339.46     37344.86  33513.35
Naypyitaw  43085.86     30327.46  37155.38
Yangon     33781.25     33094.75  39324.37

In [19]:
#Calculate the percentage of Female and Male customers.
def solve7():
    print(df['Gender'].value_counts().astype(float).div(len(df))*100)
solve7()

Female    50.1
Male      49.9
Name: Gender, dtype: float64

In [27]:
#Replace the space in column names with an underscore.
def solve8():
    df.columns = df.columns.str.replace(' ', '_')
    
solve8()
print(df.loc[:,['Invoice_ID','Customer_type','Product_line','Unit_price','Tax_5%']].head(3))

    Invoice_ID Customer_type            Product_line  Unit_price   Tax_5%
0  750-67-8428        Member       Health and beauty       74.69  26.1415
1  226-31-3081        Normal  Electronic accessories       15.28   3.8200
2  631-41-3108        Normal      Home and lifestyle       46.33  16.2155

In [31]:
#Calculate the invoices 'Total' by 'City' and type of 'Payment'. (rounded to two decimal places)
def solve9():
    pf=df.pivot_table(index='City',columns='Payment',values='Total',aggfunc='sum')
    print(pf.round(2))
solve9()

Payment        Cash  Credit card   Ewallet
City
Mandalay   35339.46     37344.86  33513.35
Naypyitaw  43085.86     30327.46  37155.38
Yangon     33781.25     33094.75  39324.37

In [35]:
#Print the columns 'Product line' to 'Total' of the rows where the 'Total' is greater than 1030.
def solve10():
    print(df.loc[df['Total']>1030,['Product line','Unit price','Quantity','Tax 5%','Total']])

solve10()

            Product line  Unit price  Quantity  Tax 5%    Total
167  Fashion accessories       98.98        10   49.49  1039.29
350  Fashion accessories       99.30        10   49.65  1042.65
557   Food and beverages       98.52        10   49.26  1034.46

In [36]:
#Calculate a summary statistics of the column 'Total'. (rounded to two decimal places)
def solve11():
    print(df['Total'].describe().round(2))
solve11()

count    1000.00
mean      322.97
std       245.89
min        10.68
25%       124.42
50%       253.85
75%       471.35
max      1042.65
Name: Total, dtype: float64

In [40]:
#Calculate the mean of the Invoice 'Total' for Female customers. (rounded to one decimal place)
def solve12():
    print(round(df.loc[df['Gender']=='Female','Total'].mean(),1))
solve12()

335.1

In [41]:
#Calculate the total number of units ('Quantity') sold by 'Product line' and the grand total of units sold.
def solve13():
    print(df.pivot_table(index='Product line',values='Quantity',aggfunc='sum',margins=True))
solve13()

                        Quantity
Product line
Electronic accessories       971
Fashion accessories          902
Food and beverages           952
Health and beauty            854
Home and lifestyle           911
Sports and travel            920
All                         5510

In [43]:
#Delete the rows corresponding to 'City' 'Yangon'.
def solve14():
    df.drop(df[df['City'] == 'Yangon'].index, inplace=True)
solve14()
print(df.loc[:,'Invoice ID':'Product line'].head(3))

    Invoice ID       City Customer type  Gender            Product line
1  226-31-3081  Naypyitaw        Normal  Female  Electronic accessories
5  699-14-3026  Naypyitaw        Normal    Male  Electronic accessories
7  315-22-5665  Naypyitaw        Normal  Female      Home and lifestyle

In [44]:
#Print the 'city', the 'Product line' and the value (rounded to two decimal places) corresponding to the maximum sum of the invoices ('Total') by 'Product line' and 'City'
def solve15():
    pr=df.groupby(['City','Product line'])['Total'].sum().round(2)
    max=pr.max()
    city=pr.idxmax()[0]
    product=pr.idxmax()[1]
    print(f"{city}, {product}, {max}") 
solve15()

Naypyitaw, Food and beverages, 23766.86

In [47]:
#Print the values from columns 'Invoice ID' and 'Total' from row 0 and 2.
def solve16():
    print(df.loc[[0,2],['Invoice ID','Total']])
    
solve16()

    Invoice ID     Total
0  750-67-8428  548.9715
2  631-41-3108  340.5255

In [58]:
#Create a table with the number of invoices by 'City' and 'Customer type' with totals by row and by column.
def solve17():
    print(df.pivot_table(index='City',columns='Customer type',values='Invoice ID',aggfunc='count',margins=True))

solve17()

Customer type  Member  Normal   All
City
Mandalay          165     167   332
Naypyitaw         169     159   328
Yangon            167     173   340
All               501     499  1000

In [56]:
#Insert a column named 'QxPrice' before column 'Tax 5%' equal to the column 'Unit Price' times the column 'Quantity'.
def solve18():
    df.insert(7, 'QxPrice', df['Unit price'] * df['Quantity'])
print(df.loc[0:2,'Unit price':'Total'])
solve18()

   Unit price  Quantity   Tax 5%     Total
0       74.69         7  26.1415  548.9715
1       15.28         5   3.8200   80.2200
2       46.33         7  16.2155  340.5255